exclude *.py
include docs/Authors.rst
include docs/License.rst
include docs/release-notes.rst
include setup.py
include README.md
exclude __pycache__
recursive-include tests *
recursive-exclude tests *.pyc
